{% extends 'base.html' %}
{% load static %}


{%block js%}

<script>
    function eliminarRegistro(id)
    {
        var url = "{% url 'producto_app:borrar_producto' 0 %}".replace('0', id);
        Swal.fire({
            "title":"¿Estas seguro de que deseas eliminar?",
            "icon":"question",
            "showCancelButton":true,
            "cancelButtonText":"Cancelar",
            "cancelButtonColor":"red",
            "confirmButtonText":"Si, eliminar",
            "confirmButtonColor":"green"
        })
        .then(function(result) {
            if(result.isConfirmed){
                window.location.href = url
            }
        })
    }
    
</script>

{%endblock%}

{% block content %}

<tbody>
    <div class="container mt-4">

        <div class="d-flex mb-4 mt-4 border-bottom border-3 ">
            <h1>Listado de Productos</h1>
        </div>

        <!--Search-->
        <div class="searchContainer mb-3 mt-3">
            <form method="GET" id="formSearch">
                {% csrf_token %}
                <div class="input-group">
                    <!--Tipo-->
                    <input type="text" id="fieldSearchTipo" class="form-control bg-light border-0 small"
                        placeholder="Tipo..." name="tipo" value="{{ request.GET.tipo }}">
                    <span class="mx-2"></span>

                    <!--Descripcion-->
                    <input type="text" id="fieldSearchDescripcion" class="form-control bg-light border-0 small"
                        placeholder="Descripción..." name="descripcion" value="{{ request.GET.descripcion }}">
                    <span class="mx-2"></span>

                    <!--Precio minimo-->
                    <input type="text" id="fieldSearchPrecioMinimo" class="form-control bg-light border-0 small"
                        placeholder="Precio minimo..." name="precioMinimo" value="{{ request.GET.precioMinimo }}">
                    <span class="mx-2"></span>

                    <!--Precio maximo-->
                    <input type="text" id="fieldSearchPrecioMaximo" class="form-control bg-light border-0 small"
                        placeholder="Precio maximo..." name="precioMaximo" value="{{ request.GET.precioMaximo }}">
                    <span class="mx-2"></span>

                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
                <div class="cleanSearchButton mt-2">
                    <button class="btn btn-primary" id="cleanButton" onclick=" return limpiarBusqueda();">
                        Limpiar Busqueda
                    </button>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in lista %}
                        <tr>
                            <td>{{ producto.tipo }}</td>
                            <td>{{ producto.descripcion }}</td>
                            <td>{{ producto.precio }}</td>
                            <td class="">
                                <!--Editar-->
                                <a href="{% url 'producto_app:editar_producto' producto.pk %} " class="fa-solid fa-pen-to-square" id="editar" title="Editar"></a>

                                <span class="mx-2"></span>
                                <!-- Ver detalles-->
                                <a href="{% url 'producto_app:detalle_producto' producto.pk %}" class="fa-solid fa-eye" id="detalle" title="Detalle"></a>

                                <span class="mx-2"></span>
                                <!--Borrar-->
                                <a href="#" onclick="eliminarRegistro({{producto.pk}})" class="fa-solid fa-trash"
                                    id="borrar" title="Borrar" rel="delete"></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

        <div class="pagination justify-content-end">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a class="fa-solid fa-angles-left" href="?page={{ page_obj.previous_page_number }}"></a>
                <a class="fa-solid fa-angle-left" href="?page=1"></a>
                {% endif %}

                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a class="fa-solid fa-angle-right" href="?page={{ page_obj.next_page_number }}"></a>
                <a class="fa-solid fa-angles-right" href="?page={{ page_obj.paginator.num_pages }}"></a>
                {% endif %}
            </span>
        </div>

        <div class="d-flex">
            <a id="volver" href="{% url 'inicio_app:inicio' %}">Volver al menu</a>
            <span class="mx-2"></span>
            <a id="agregar" href="{% url 'producto_app:crear_producto' %}">Añadir Registro</a>
        </div>
    </div>
</tbody>

{% endblock content %}