{% extends 'base.html' %}
{% load static %}

{% block content %}
<h3 class="text-center display-4 font-weight-bold font-italic" id="detail-title">DETALLES DE CLIENTE</h3>

<div class="row  justify-content-center">
    {% if detalle.imagen %}
        <div class="contenido d-flex">
            <div class="imagen">
                <img class="card-img-top" src="{{ detalle.imagen.url }}" alt="">
            </div>
            <div class="detalle">
                <p class="card-text">Nombre: <span>{{detalle.nombre}}</span></p>
                <p class="card-text">Apellido: <span>{{detalle.apellido}}</span></p>
                <p class="card-text">DNI: <span>{{detalle.dni}}</span></p>
                <p class="card-text">Dirección: <span>{{detalle.direccion}}</span></p>
                <p class="card-text">Telefono: <span>{{detalle.telefono}}</span></p>
                <span class="mx-2"></span>
                <a id="volver" href="{% url 'cliente_app:listado_clientes' %}">Volver</a>
            </div>
        </div>
    {% else %}
        <div class="detalle">
            <p class="card-text">Nombre: <span>{{detalle.nombre}}</span></p>
            <p class="card-text">Apellido: <span>{{detalle.apellido}}</span></p>
            <p class="card-text">DNI: <span>{{detalle.dni}}</span></p>
            <p class="card-text">Dirección: <span>{{detalle.direccion}}</span></p>
            <p class="card-text">Telefono: <span>{{detalle.telefono}}</span></p>
            <span class="mx-2"></span>
            <a id="volver" href="{% url 'cliente_app:listado_clientes' %}">Volver</a>
        </div>
    {% endif %}
</div>

{% endblock content %}