{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5" id="containerCrear">
    <div class="d-flex justify-content-center mb-4 mt-4">
        <h1>Añadir un nuevo proveedor</h1>
    </div>
    <form method="post" action="{% url 'proveedor_app:crear_proveedor' %}" id="proveedorForm" class="mb-5">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.id.id_for_label }}">Id:</label>
            {{ form.id }}
        </div>
        <div class="mb-3">
            <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
            {{ form.nombre }}
        </div>
        <div class="mb-3">
            <label for="{{ form.apellido.id_for_label }}">Apellido:</label>
            {{ form.apellido }}
        </div>
        <div class="mb-3">
            <label for="{{ form.telefono.id_for_label }}">Telefono:</label>
            {{ form.telefono }}
        </div>
        <div class="mb-3">
            <label for="{{ form.direccion.id_for_label }}">Dirección:</label>
            {{ form.direccion }}
        </div>

        <div class="form-buttons">
            <button type="submit" class="btn btn-primary" id="guardarButton" disabled>Guardar</button>
        </div>
    </form>
    <a id="volver" href="{% url 'proveedor_app:listado_proveedores' %}" >Volver</a>
</div>
{% endblock content %}