*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100%;
}

.contenido{
    height: 100%;
}

a{
    text-decoration: none;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
}

#editar{
    color: green;
}

#borrar{
    color: red;
}

#detalle{
    color: darkorange;
}

#volver{
    background-color: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

#agregar{
    background-color: rgb(22, 148, 41);
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

#agregar:disabled{
    opacity: 0.3;
}


/*Crear y Editar*/
#containerEditar,
#containerCrear
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#containerEditar form,
#containerCrear form
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 700px;
    padding: 10px;
}

#containerEditar form .mb-3,
#containerCrear form .mb-3{
    display: flex;
    flex-direction: column;
}


#containerEditar form .mb-3 input,
#containerCrear form .mb-3 input{
    background-color: rgb(231, 227, 224);
    border: none;
    border-bottom: #5FCDD9 solid 3px;
    height: 40px;
}

#containerEditar form .mb-3 input:focus,
#containerCrear form .mb-3 input:focus{
    outline: none;
    border: none;
    border: #5FCDD9 solid 3px;
}

#containerEditar form .form-buttons,
#containerCrear form .form-buttons
{
    display: flex;
    justify-content: space-evenly;
    
}


/*Detalle*/

.row .detalle{
    display: flex;
    width: 50%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
}

.row .detalle p{
    margin-top: 30px;
    padding: 13px 0 13px 0;
    background-color: rgb(220, 215, 211);
    width: 50%;
    border-radius:10px 10px 0 0;
    border-bottom: #5FCDD9 solid 3px;
}

.row .detalle p span{
    color: #048C4D;
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
}

.row .detalle a{
    width: 120px;
}

/*Pagina de Inicio*/
.indexSeccion{
    height: 100%;
}

.indexSeccion .logoutIcon{
    position: absolute;
    float: right;
    width: 100%;
    margin: 0px 0px 0px 20px;
}

.indexSeccion .logoutIcon a{
    color: #211C6A;
    text-decoration: none;
    font-size: 30px;
}

.indexSeccion p{
    font-size: 20px;
    font-weight: bolder;
} 

.indexSeccion .cardsContainer{
    display: flex;
    height: 100%;
    justify-content: center;
}

@media screen and (max-width:767px){
    body{
        height: 100%;
    }

    .indexSeccion .cardsContainer{
        flex-direction: column;
        align-items: center;
    }
}

.indexSeccion .cardsContainer .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    margin: 0px 20px 0 20px;
    transition: transform 0.2s ease-in;;
}

.indexSeccion .cardsContainer .card:hover{
    transform: scale(1.04);
    fill: #fff;
}

.indexSeccion .cardsContainer .card svg{
    width: 100%;
    height: 300px;
}

.indexSeccion .cardsContainer .card .card-body{
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: space-evenly;
}

.indexSeccion .cardsContainer #cardCliente{
    background-color: rgb(198, 198, 18);
}

.indexSeccion .cardsContainer #cardCliente:hover{
    background-color:#211C6A;
    color: #fff;
}

.indexSeccion .cardsContainer #cardProveedor{
    background-color: red;
}

.indexSeccion .cardsContainer #cardProveedor:hover{
    background-color:#211C6A;
    color: #fff;
}

.indexSeccion .cardsContainer #cardProducto{
    background-color: orange;
}

.indexSeccion .cardsContainer #cardProducto:hover{
    background-color:#211C6A;
    color: #fff;
}

@media screen and (max-width:767px){
    .indexSeccion .cardsContainer .card{
        margin: 10px 0 0 0;
    }
}
